.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    .logo {
        display: flex;
        align-items: center;
        width: 124px;
        img {
            width: 100%;
        }
        .helpText {
            font-size: 22px;
            padding-left: 4px;
            color: #5f6368;
        }
    }
    .actionBtn {
        display: flex;
        align-items: center;
        .iconBlock {
            font-size: 20px;
            margin: 10px;
            color: #5f6368;
        }
    }
}