.tips {
    margin-left: 1px;
}

.tips h2 {
    font-weight: 700;
    line-height: 1.1;
    color: #23085A;
    font-size: 32px;
}

.tips p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    color: #000;
}

.blockText {
    padding: 30px;
    height: 550px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.textAr {
    margin-top: 10px;
    width: 100%;
    height: 80%;
    border: none;
    color: #60657b;
    font: normal 400 21px/36px AkkuratPro, sans-serif;
    letter-spacing: -.09px;
    box-sizing: border-box;
    outline: none;
    overflow: auto;
    resize: none;
    transition: border .3s;
    vertical-align: top;
}

.blockText button {
    margin-top: 12px;
    margin-left: 38%;
    width: 170px;
    height: 50px;
    color: #fff;
    background-color: #14c49c;
    border-radius: 7px;
    border: none;
}

.blockText button span {
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-family: Inter, sans-serif;
    cursor: pointer;
    font-size: 14px;
}

.blockText button:hover {
    background-color: #2BF3CA;
}

.blockText button span:hover {
    background-color: #2BF3CA;
}