.contain {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.contain .viewRow {
    width: 100%;
    height: 275px;
    margin-bottom: 50px;
}

.viewRow {
    display: flex;
    align-items: stretch;
}

.viewRow div {
    margin: 10px;
}

.imageFile {
    width: 430px;
    height: 261px;
}

.imageFile img {
    border-bottom-left-radius: 35px;
    width: 430px;
    height: 261px;
}

.textView {
    width: 550px;
    height: 200px;
    position: relative;
    top: 62px;
    right: 150px;
    border-top-left-radius: 40px;
    background-color: #fff;
}

.textView h2 {
    margin-left: 20px;
    color: #23085A;
    text-decoration: none;
    display: block;
    font-size: 28px;
}

.textView h2:hover {
    color: #00953B;
    text-decoration: underline;
    cursor: pointer;
}

.textView p {
    margin-left: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.42857;
    color: #000;
    width: 500px;
}